DB_HOST=localhost
DB_PORT=5432
DB_ENGINE=django.db.backends.postgresql
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
SECRET_KEY=django-insecure-x)r!am6l!wf^@0fyc!)jn14kd9#(jh(!3k%bmm$+hvci#k#rw#
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
DEBUG=True